@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap');
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css');
*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
/* menu */
header{
	position: fixed;
	top: 0;
	right: 0;
	padding: 0 100px;
	width: 100%;
	/*box-sizing: border-box;*/
	z-index: 1000;
}
header nav{
	position: absolute;
	top: 0;
	right: 0;
}
header nav ul{
	margin: 0;
	padding: 0;
	display: flex;
}
header nav ul li{
	list-style: none;
}
header nav ul li a{
	font-family: 'Poppins', sans-serif;
	height: 40px;
	line-height: 50px;
	padding: 0 20px;
	color: #000;
	text-decoration: none;
	transition: underline 0.5s;
	display: block;
}
header nav ul li a:hover{
	color: #EF8ED2;
}
.menu-toggle{
	color: #fff;
	/*float: right;*/
	line-height: 50px;
	font-size: 24px;
	position: absolute;
	right: 0px;
	cursor: pointer;
	display: none;
}
/* end of menu*/

/*section 1*/
.section1{
	position: relative;
	width: 100%;
	height: 100vh;
	background: url(bg.png);
	background-size: cover;
	background-repeat: no-repeat;
}
.section1 .text{
	display: flex;
	flex-direction: column;

	position: absolute;
	top: 30%;
	left: 10rem;

}
.section1 h1{
font-family: Poppins;
font-style: normal;
font-weight: 700;
font-size: 5rem;
line-height: 96px;
z-index: 100;

color: #232D60;
text-shadow: 0px 5px 6px rgba(127, 137, 187, 0.52);
}
.section1 h2{
	font-family: Poppins;
font-style: normal;
font-weight: normal;
font-size: 1rem;
line-height: 36px;

color: #000000;

}
.section1 .btn{
	margin-top: 20px;
	width: 10rem;
height: 3rem;
display: flex;
justify-content: center;
align-items: center;

background: linear-gradient(90deg, #A4BFF9 0%, #EF8ED2 100%);
border-radius: 47px;
font-family: Poppins;
font-style: normal;
font-weight: 400;
font-size: 1rem;
line-height: 36px;
box-shadow: 0.05rem 0.05rem 1rem rgba(0,0,0,0.5);
cursor: pointer;

color: #FFFFFF;

}
.section1 img{
	position: absolute;
	width: 35rem;
	bottom: 0;
	right: 1rem;
}
/*end of section 1*/

/*section 2*/
.section2{
	width: 100%;
	height: 100vh;
	background: #FFFFFF;
	display: flex;
	align-items: center;
	flex-direction: column;
}
.section2 h1{
	font-family: Poppins;
font-style: normal;
font-weight: 600;
font-size: 48px;
line-height: 72px;

color: #232D60;
text-align: center;
margin-top: 5rem;

}
.section2 p{
	font-family: Poppins;
font-style: normal;
font-weight: 500;
font-size: 25px;
line-height: 37px;
padding: 40px;
margin-top: 5rem;
}
.section2 .btn{
	width: 10rem;
height: 3rem;
background: linear-gradient(90deg, #A4BFF9 0%, #EF8ED2 100%);
box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.25);
text-align: center;
display: flex;
justify-content: center;
align-items: center;

}
.section2 .btn a{
	text-decoration: none;
	font-family: Poppins;
font-style: normal;
font-weight: 400;
font-size: 25px;
/*line-height: 37px;*/
/* identical to box height */
color: #FFFFFF;

}
/* end of section 2*/
.section3 .projects{
	width: 100%;
	height: 100vh;

	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}
.section3 h1{
	font-family: Poppins;
font-style: normal;
font-weight: 600;
font-size: 48px;
line-height: 72px;

color: #232D60;
text-align: center;
margin-top: 5rem;

}
.section3 .projects img{
	width: 80%;
	margin-bottom: 2rem;
}
.viewBtn{
	width: 10rem;
height: 3rem;
background: #EF8ED2;
box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.25);
text-align: center;
display: flex;
justify-content: center;
align-items: center;
}
.viewBtn a{
	text-decoration: none;
	font-family: Poppins;
font-style: normal;
font-weight: 400;
font-size: 25px;
color: #FFFFFF;

}
/* section 4*/
.section4{
	position: relative;
	width: 100%;
	height: 100vh;
	background: url(bg4.png);
	background-size: cover;
	background-repeat: no-repeat;

	display: flex;
	justify-content: center;
	align-items: center;
}
.section4 .content{

	width: 50%;
	height: 30rem;
	background: rgba( 255, 255, 255, 0.1 );
box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.1 );
backdrop-filter: blur( 5px );
-webkit-backdrop-filter: blur( 4px );
border-radius: 15px;
border: 1px solid rgba( 255, 255, 255, 0.1 );
color: #fff;
}
.details{
	display: flex;
	justify-content: center;
	width: 100%;
	position: relative;
}
.icon{
	position: relative;
	width: 80px;
	height: 80px;
	color: #fff;
	font-size: 1.5rem;
	border-radius: 50%;

	background: rgba( 255, 255, 255, 0.1 );
	border: 1px solid rgba( 255, 255, 255, 0.5 );
	box-shadow: 0 8px 32px 0 rgba( 225, 225, 225, 0.1 );
	z-index: 1000;
	display: flex;
	justify-content: center;
	align-items: center;


}
.info{
	display: flex;
	flex-direction: column;
	margin: 5% ;
	text-shadow: 0px 4px 6px rgba(0, 0, 0, 0.25);
}
.info a{
	text-decoration: none;
	color: #fff;
	font-size: 1.2em;
}
.hire{
	display: flex;
	flex-direction: column;
	width: 100%;
	align-items: center;
	margin-top: 7%;
}
.hire h1{
	z-index: 1000;
	font-size: 2em;

}
.btns{
	display: flex;
	margin: 2rem 0;
}
.section4 .btn{
	width: 10rem;
height: 3rem;
background: linear-gradient(90deg, #A4BFF9 0%, #EF8ED2 100%);
box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.25);
text-align: center;
display: flex;
justify-content: center;
align-items: center;
margin: 0 2rem;
}
.section4 .btn a{
	text-decoration: none;
	font-family: Poppins;
	font-style: normal;
	font-weight: 400;
	font-size: 1.2em;
	color: #FFFFFF;
}
@media only screen and (max-device-width: 414px) {
	.section1{
		background: #F3D8FF;
	}
	.section1 .text{
		top: 20%;
		left: 6rem;

	}
	.section1 h1{
		font-size: 7rem;
	}
	.section1 h2{
		font-size: 2rem;
	}
	.section1 img{
	width: 50rem;
	bottom: 0;
	right: 4rem;
	}
	.section2{
		display: flex;
		justify-content: center;
		align-items: center;
	}
	.section2 p{
		font-size: 30px;
		padding: 50px 300px;
		margin-top: 45%;
	}
	.section2 h1{
		font-size: 55px;
		margin-top: 6rem;
	}
	.section3 .projects{
	height: 50vh;
	}
	.section3 h1{
		font-size: 55px;
		margin-top: 6rem;
	}
	.section4 .content{
		width: 85%;
		height: 50rem;
		position: absolute;
		top: 20%;
	}
	.hire{
		margin-top: 20%;
	}
	.info{
		margin-top: 10%;
	}

}
@media only screen and (max-device-width: 375px) {
	.section1{
		background: #F3D8FF;
	}
	.section1 .text{
		top: 20%;
		left: 6rem;

	}
	.section1 h1{
		font-size: 7rem;
	}
	.section1 h2{
		font-size: 2rem;
	}
	.section1 img{
	width: 50rem;
	bottom: 0;
	right: 4rem;
	}
	.section2{
		display: flex;
		justify-content: center;
		align-items: center;
	}
	.section2 p{
		font-size: 30px;
		padding: 50px 300px;
		margin-top: 45%;
	}
	.section2 h1{
		font-size: 55px;
		margin-top: 6rem;
	}
	.section3 .projects{
	height: 50vh;
	}
	.section3 h1{
		font-size: 55px;
		margin-top: 6rem;
	}
	.section4 .content{
		width: 85%;
		height: 50rem;
		position: absolute;
		top: 20%;
	}
	.hire{
		margin-top: 20%;
	}
	.info{
		margin-top: 10%;
	}

}