@import url('https://fonts.googleapis.com/css2?family=Varela+Round&display=swap');
*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
body{
	width: 100%;
	height: 1000vh;
	background: url(bg2.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	background-attachment: fixed;
	font-family: 'Varela Round', sans-serif;
}
header a{
	text-decoration: none;

}
header a i{
	color: #ffff;
	position: fixed;
	font-size: 2rem;
	left: 2rem;
	top: 1rem;
	cursor: pointer;
	z-index: 1000;
}
.section1{
	display: flex;
	align-items: center;
	flex-direction: column;
	position: relative;
	width: 100%;
	height: 100vh;
}
.section1 h1{
	margin: 4rem 0;
	font-size: 3rem;
	text-transform: uppercase;
	color: #D80D4A;
	text-shadow: 0px 4px 15px #D175AC;
	font-family: 'Varela Round', sans-serif;

}
.section1 ul{
	list-style: none;
}
.section1 ul li{
	position: relative;
}
.section1 ul li .taskname{
	width: 55rem;
	height: 3rem;
	font-size: 1.5rem;
	position: relative;
	background: #FFC0CB;
	outline: none;
	border:none;
	margin: 1rem 0;
}

.section1 span{
	position: absolute;
	bottom: 2rem;
	right: 5rem;
	width: 65px;
	height: 65px;
	border-radius: 50%;
	font-size: 4rem;
	display: flex;
	justify-content: center;
	align-items: center;
	background: #F8CBD1;
	box-shadow: 0px 4px 4px rgba(0,0,0,0.2);
	cursor: pointer;
}
.section1 span:active{
	box-shadow: 0px 0px 0px rgba(0,0,0,0.2);

}
.close{
	position: absolute;
	right: 10px;
	top: 1.5rem;
	cursor: pointer;
	font-size: 1.5rem;
	color: #D80D4A;
}
.checkbox{
	position: absolute;
	left:-2rem;
	top: 2rem;
}
.check{
	margin-right: 1rem;
}
.day{
	position: absolute;
	left: 5rem;
	top: 5rem;
	background: #4C7893;
	color: #ffff;
	outline: none;
	height: 2.5rem;
	border: none;
	box-shadow: 0px 4px 15px rgba(0,0,0,0.2);
	border-radius: 15px;
	padding-left: 10px;
	cursor: pointer;
	text-align: center;

}
.taskname{
	color: #ffff;
}
.section2{
	width: 100%;
	height: 100vh;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
}
.Month{
	position: absolute;
	left: 5rem;
	top: 47rem;
	background: #4C7893;
	color: #ffff;
	outline: none;
	height: 2.5rem;
	border-radius: 15px;
	padding-left: 30px;
	border: none;
	box-shadow: 0px 4px 15px rgba(0,0,0,0.2);
	cursor: pointer;
}
.box{
	position: relative;
	width: 35rem;
	height: 25rem;
	display: flex;
	flex-wrap: wrap;
	box-shadow: 0rem 0.1rem 1rem rgba(0,0,0,0.2);
}
.card{
	width: 50%;
	height: 50%;
	display: flex;
	justify-content: center;
	align-items: center;
	cursor: pointer;
	transition: all 0.5s;
}
.card a{
	text-decoration: none;
	font-size: 1.5rem;
	color: #ffff;
	transition: font-size 0.5s;
}
.card1{
	background: #fdc9d4;
}
.card:hover{
	opacity: 0.8;
}
.card:hover a{
	font-size: 2rem;
}
.card2{
	background: #97D5FE;
}
.card3{
	background: #D391FF;
}
.card4{
	background: #94FFBB;
}
.section3,
.section4,
.section5,
.section6{
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 100vh;
}
.section3{
	background: #fdc9d4;
}
.container{
	display: flex;

}
.container img{
	position: absolute;
	width: 30rem;
	height: auto;
	margin-left: 5rem;
	margin-top: -4rem;
}
.box3{
	display: flex;
	margin-top: 5rem;
}
.tracker{
	margin-top: 2rem;
	position: relative;
	width: 21rem;
	height: 12rem;
	margin-left: 2rem;
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 39px;
background: transparent;
box-shadow:  0px 4px 16px rgba(0,0,0,0.2);
}
.tracker h1{
	width: 100%;
	text-align: center;
	position: absolute;
	top: 1rem;
	left: 0.2rem;
	letter-spacing: 1rem;
	font-size: 1rem;
}
.tracker .row{
	width: 3rem;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}
.tracker .row button{
	width: 1rem;
	height: 1rem;
	border-radius: 50%;
	margin: 5px;
	cursor: pointer;
	outline: none;
    border:solid transparent;
    border-width: 1px; 
}
.button-clicked {
  background: transparent;
  box-shadow:  0px 4px 5px rgba(0,0,0,0.2);
}
.line{
	background: transparent;
	border-bottom:solid #000;
	border-width: 1px;
	border-top: none;
	border-left: none;
	border-right: none;
	outline: none;
	width: 25rem;
	height: 2rem;
}
.section4{
	background: #97D5FE;
}

.section5{
	background:  #D391FF;
}
.section6{
	background:  #94FFBB;
}
.weekMenu{
	position: absolute;
	left: 0rem;
	height: 12rem;
	width: 7rem;
	display: flex;
	flex-direction: column;
	box-shadow: 0rem 0.1rem 1rem rgba(0,0,0,0.2);
}
.weekMenu .tab{
	height: 3rem;
	width: 100%;
	text-align: center;
	display: flex;
	justify-content: center;
	align-items: center;

}
.weekMenu .tab a{
	text-decoration: none;
	color: #ffff;
	font-size: 1.2rem;
	

}

